nav{
    background-color: black;
    min-height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li a #marca :hover{
    color: red;
}

#marca {
    color: antiquewhite;
    text-decoration: none;
    padding: 15px 15px;
    text-align: center;
    font-size: 90px;
}

strong {
    color: rgb(252, 193, 1);
}