nav {
    display: flex;
    list-style: none;
}

nav ul li a {
    color:grey;
    text-decoration: none;
    padding: 15px 10px;
}

nav ul li a :hover {
    color: black;
    background-color: grey;
}