body{
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: black;
}

@font-face {
    font-family: poppins;
    src: url(/html-pages/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: sertao;
    src: url(/html-pages/assets/fonts/YatraOne-Regular.ttf);
}

header{
    font-family: poppins;
    display: flex;
    height: 13vh;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

header:has(a h2){
    text-transform: uppercase;
    font-size: 3rem;
}

a:has(h2):hover{
    color: #FFB202;
    transition: color 1.5s linear;
    animation-name: logo;
    animation-duration: 7s;
}

@keyframes logo {
    0%{
        color: #FFB202;
    }
    15%{
        color: #1ff366;
    }
    30%{
        color: blue;
    }
    45%{
        color: rgb(255, 152, 169);
    }
    60%{
        color: white;
    }
    75%{
        color: #DB8D39;
    }
    100%{
        color: #FFB202;
    }
}

a h2 b{
    color: gold;
}

form input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    width: 25vw;
    font-family: poppins;
    font-size: 1rem;
}               

form input :has([placeholder]):placeholder-shown{
    color: white;
    padding: 10px;
}

input + button {
    background-color: white;
    border: 0;
    padding: 15px;

}

button img {
    width: 100%;
}

form, .acess{
    display: flex;
    justify-content:center;
}

.acess{
    align-items: center;
}

.acess button {
    background-color: gold;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    margin-right: 3rem;
}

.acess button:hover{
    background-color: white;
    transition: background-color 1.5s ease-out;
}

.acess nav a{
    font-weight: 600;
    font-size: 1rem;
}

.acess nav a:hover{
    color: gold;
}

#display-video{
    width: 100%;
    height: 80vh;
}

iframe {
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 109, 248);
    color: white;
    height: fit-content;
    font-size: 3rem;
    align-items: center;
    padding: 3rem;
}

.timer{
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
}

.date-time h3, .date-time h4{
    margin: 0;
}

.section-01{
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.manchete{
    font-size: 1rem;
}

.manchete-content{
    width: 20vw;
}

.manchete span {
    font-size: 5rem;
    font-weight: 400;
}

.manchete h2{
    margin: 1rem 0;
    font-weight: normal;
    text-align: start;
    font-size: 1.8rem;
}

.section-01 blockquote{
    font-size: 0.825rem;
    text-align: start;
    margin: 0;
    font-style: italic;
    text-align: center;
}

.section-02{
    background-color: #FFB202;
    display: flex;
    flex-direction: row;
    height: fit-content;
    font-family: sertao;
    justify-content: center;
}

.section-02 h1{
    font-size: 2.5rem;
    width: 40vw;
    color: black;
    text-transform: uppercase;
}

.section-02 img{
    width: 30vw;
}

.section-04{
    background-color: #009933;
    font-family: sans-serif;
}

#material{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10vw;
}

.section-04 a img, .section-04 p {
    max-width: 30vw;
    font-size: 1.3rem;
}

.section-05{
    font-size: 2.5rem;
}

.section-05 #redes-sociais{
    display: flex;
    justify-content: center;
}

.section-05 #redes-sociais img{
    max-width: 45vw;
    max-height: 65vh;
    margin-right: 4rem;
}

.section-05 #redes-sociais nav{
    font-size: 1.5rem;
    width: 30vw;
    align-self: center;
    font-weight: bold;
}

.section-05 #redes-sociais nav ul a li{
    color: deeppink;
    font-weight: normal;
}

li::marker{
    color: white;
}

.section-06{
    background-color: deeppink;
    font-size: 2rem;
}

#acoes-presenciais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10vw;
}

.section-06 #acoes-presenciais img {
    max-width: 25vw;
}

.section-07{
    background-color: #FF6600;
    font-size: 2rem;
}

.section-07 .links img{
    margin-right: 4rem;
}

.section-08{
    background-color: #009933;
    font-size: 2rem;
}

.resultados{
    display: flex;
    width: 55vw;
    font-size: 1.8rem;
    font-weight: normal;
    font-family: sans-serif;
}

.resultados img {
    width: 25vw;
}

.section-09{
    background-color: #FFB202;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-09 img {
    width: 30vw;
}

footer{
    background-color: black;
    color: white;
}

#footer-content{
    width: 60%;
    margin: 0 auto;
}

.patrocinadores h3{
    font-size: 3.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 0;
}

.patrocinadores-logo{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.patrocinadores-logo img {
    max-width: 10vw;
    margin-right: 5rem;
}

.background{
    background-color: #DB8D39;
    width: 60vw;
    height: 60vh;
    margin: 5% auto;
    text-align: right;
    position: relative;
}

.background h4{
    text-transform: uppercase;
    font-size: 3.5rem;
    width: 60%;
    margin: 2rem 1rem 1rem auto;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.background h4::before{
    content: "⭢";
    color: pink;
    margin-right: 1rem;
}

.background .doe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 0;
    width: 50%;
    margin: 2rem 1rem 1rem auto;
    justify-items: center;
}

.background button{
    padding: 1rem;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1.5rem;
    width: fit-content;
    font-family: poppins;
}

.background button:hover{
    background-color: white;
    border: white 1px solid;
    transition: background-color 1.5s ease-out, border .5s linear;
}

.doacao .background img {
    position: absolute;
    right: 50%;
    height: 75vh;
}

.footer-logo{
    display: flex;
    flex-direction: column;
}

.footer-logo a h2{
    text-transform: uppercase;
    font-size: 3rem;
}

.footer-logo a h2:hover{
    color: #FFB202;
    transition: color 1.5s linear;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact .footer-logo a h2{
    font-size: 4rem;
    margin-top: 3rem;
}

.contact .footer-logo img{
    width: 15vw;
    margin-top: 30vh;
    margin-bottom: 5vh;
}

.contact-information{
    text-align: right;
}

.contact-information a {
    text-decoration: underline;
    color: white;
}

#email{
    margin: 5rem auto;
}

#email a {
    text-decoration: none;
}

#email p{
    font-size: 1.5rem;
}

.midias-sociais p{
    font-size: 1.5rem;
}

.midias-sociais a{
    text-decoration: none;
}

.midias-sociais ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    justify-items: start;
    width: fit-content;
    margin: 2rem 1rem 1rem auto;
}

.midias-sociais ul li {
    list-style: none;
}

.midias-sociais{
    margin-bottom: 8rem;
}